body{
  /*background-color:#a3d4ff;*/
  background: linear-gradient(
    to top,
    #4e55b4  0%,
    #5f66f0bf 20%,
    #b6baf7 80%
  );
  min-height: 100vh;
  margin-bottom: 60px;
  
}
nav {
  background-color: #05053e;
  color: white;
  text-align: center;
  padding: 7px;
  
}
#mainNav{
  background: linear-gradient(
    to top,
    #b6baf7ac  0%,
    
    #212529 50%
  );
}



a{
  text-decoration: none;
}

footer {
  background-color: #05053e;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-top: 7px;
}
.w-full{
width: 100%;
}
.h-full{
height: 100%;
}

td:hover{
  background-color: #344c7f6f;
  color: white;
}


body{
    /*background-color:#a3d4ff;*/
    min-height: 100vh;
    margin-bottom: 60px;
    background-image: linear-gradient (to top, #ebd4cd, #43f0e2);

}
nav {
    background-color: #05053e;
    color: white;
    text-align: center;
    padding: 7px;
  }

.caja_nav{
    display: inline-block;
    background: #199ef7;
    color:black;
    padding: 10px 30px;
    text-align: center;
    border-radius: 25%;
    height: 14%;
    
  }
  .caja_nav:hover {
      background: #147cc1; 
      transform: scale(1.05);
    }
    /*Animación al hacer clic*/
    .caja_nav:active {
      transform: scale(0.95); /* Reducir el tamaño temporalmente */
      background: #0f5d90; /* Cambiar el color de fondo */
    }

  footer {
    background-color: #05053e;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding-top: 7px;
}
form{
  padding-bottom: 50px;
}

.card-glass {
    background: rgba(255, 255, 255, 0.15); /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */
    border-radius: 1rem; /* Bordes más redondeados */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
